<% if @template.errors.any?%>
  <div class="alert alert-danger alert-warning alert-dismissible fade show" role="alert">
      <ul>
        <% @template.errors.full_messages.each do |message| %>
          <li> <%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= simple_form_for @template do |f| %>
  <div>
    <div class="field_control">
      <span>Nome do Template</span>
      <%= f.input :name,
        as: :text,
        presence: true,
        label: false,
        input_html: {
          id: "template_name",
          cols: 60
        }
      %>
    </div>
    <div>
      <span class="button button-new "><%= link_to_add_association 'ADICIONAR QUESTÃO', f, :template_questions, 'data-association-insertion-node' => "#template_questions" %></span>
    </div>
    <div id="template_questions">
      <%= f.simple_fields_for :template_questions do |question| %>
        <%= render 'template_question_fields', f: question %>
      <% end %>
    </div>
    <p>
      <button type="submit" id="template_submit">
        ENVIAR
      </button>
    </p>
  </div>
<% end %>

<script type="text/javascript">
  $( "#template_name" ).change(function() {
    $.ajax({
      url: '/templates/validate_name/' + $(this).val(),
      type: 'get',
      dataType: 'JSON',
      success: function (json) {
        if(json.resposta){
          $('#template_submit').prop("disabled", false);
        } else {
          alert("NOME DE TEMPLATE JA UTILIZADO!");
          $('#template_submit').prop("disabled", true);
        }
      }
    });
  });
</script>
