<!DOCTYPE html>
<html>
  <head>
    <title>Questions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <p>Templates</p>
    </header>
    <section>
      <%= yield %>
    </section>
    <aside>
      <span> <%= link_to 'HOME', root_path %></span>
    </aside>
  </body>
</html>

